Plik program.config został utworzony.
--------------------------------------------------------------------------------------------
Webhook:
->

--------------------------------------------------------------------------------------------
Cpu usage:
->
90
--------------------------------------------------------------------------------------------
Your eth addres:
->
// not work 
--------------------------------------------------------------------------------------------
